.idea

venv

instance
migrations

*.pid
*.sqlite

.DS_Store

*.pyc
__pychche__

celerybeat-schedule
celerybeat-schedule.*

log

app/static/feeds/*.xml
app/static/images

!log/placeholder
!instance/config.py.example
