<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MPWeChatRSS</title>

    <!-- Bootstrap -->
    <!--<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='js/html5shiv.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <![endif]-->
  </head>
  <body class="container">

    <div class="page-header">
      <h1>MPWeChatRSS <small>微信公众号输出到RSS</small></h1>
    </div>

    <ul class="list-group">
        {% if feeds %}
            {% for feed in feeds %}
            <li class="list-group-item">{{ feed.account }}: {{ feed.url }}</li>
            {% endfor %}
        {% endif %}
    </ul>

    <form method="post" action="/" class="form-inline">
        {{ mp_wechat_form.csrf_token }}
        <div class="form-group">
            {{ mp_wechat_form.query.label(class_="sr-only control-label") }}{{ mp_wechat_form.query(size=20, class_="form-control", placeholder="微信公众号") }}
        </div>
        <!--<input type="submit" value="提交">-->
        <button type="submit" class="btn btn-default">提交</button>
        <span class="help-block">请确保你输入的微信公众号在搜狗微信搜索时，第一个搜索结果就是你所需要的。</span>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div id="footer" class="container" style="height: 50px; line-height: 50px; text-align: center;">
        <span id="footer">
          Made with <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:red"></span> by
            <a href="http://stamaimer.github.io">stamaimer</a>.
          Proudly hosted by <a href="https://m.do.co/c/a3c5678ef5ee">DigitalOcean</a>.
        </span>
      </div>
    </nav>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>